body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 40px;
}


.home-header {
    background-image: url('/static/KindAction.png'); /* Updated path to your logo image */
    background-size: contain; /* Cover the entire header with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh;  /* Set the header height to full viewport height*/
    width:100% ;   /* Set the width of the header equal to the device screen width */
    background-color:black;
    font-size: 40px;
}
header {
    background-color: black;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.next-button {
    float: right;
    margin-top: 40px;
}

.previous-button {
    float: left;
    margin-top: 40px;
}

/* Add custom styles for the toggle switch */
.toggle {
    position: relative;
    display: inline-block;
    width: 59px;
    height: 35px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 53%;
    transition: transform 0.4s;
}

.toggle input:checked + .toggle-label {
    background-color: #007bff; /* Toggle switch color when checked */
}

.toggle input:checked + .toggle-label:before {
    transform: translateX(26px);
}


.time-input{
    height: 35px; /* Set the desired height */
    /* Add any other styling you need */
}

input[type="text"] {
    font-size: 17px; /* Adjust the font size as needed */
  }
  


