<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h2>Thank you for choosing KindnessApp! 🌟</h2>
        <p>Your commitment to spreading joy and positivity makes the world a better place.<br> Keep embracing kindness, and let's continue making a positive impact together. 😊💙</p>
        <a href="/user_input" class="previous-button">Previous</a>
    </header>
</body>
</html>
