<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to KindnessApp!🌟</h1>
        <p>Get ready to embark on a journey of spreading joy and positivity!<br>KindnessApp is here to make your day brighter by encouraging random acts of kindness.<br>🌈How it works:<br>1. Set your preferred notification time on the next page.<br>2. Enable the toggle to receive daily reminders.<br>3. Embrace the day's suggested act of kindness and make someone smile.<br>Remember, even the smallest acts can make a big difference. Good luck on your kindness journey! 🌻💙<p></p>
        <a href="/" class="previous-button">Previous</a>
        <a href="/user_input" class="next-button">Next</a>
    </header>
</body>
</html>
