<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to KindnessApp!</h1>
        <p>Get ready to embark on a journey of spreading joy and positivity!</p>
        <a href="/" class="previous-button">Previous</a>
        <a href="/user_input" class="next-button">Next</a>
    </header>
</body>
</html>
